<div role='form' class='form'>
  {{#if isError}}
    <div class='alert alert-danger'>There was an error saving the record</div>
  {{/if}}
  {{#unless isValid}}
    <div class='alert alert-danger'>Time zone isn't valid</div>
  {{/unless}}

  <div {{bind-attr class=':form-group :name-field errors.name:has-error'}}>
    <label class='control-label' for='name'>Name</label>
    {{#each error in errors.name}}
      <span class='help-block'>{{error.message}}</span>
    {{/each}}
    {{view Ember.TextField valueBinding='name' class='form-control' name='name'}}
  </div>

  <div {{bind-attr class=':form-group :city-field errors.city:has-error'}}>
    <label class='control-label' for='city'>City</label>
    {{#each error in errors.city}}
      <span class='help-block'>{{error.message}}</span>
    {{/each}}
    {{view Ember.TextField valueBinding='city' class='form-control' name='city'}}
  </div>

  <div {{bind-attr class=':form-group :name-gmt errors.gmt:has-error'}}>
    <label class='control-label' for='gmt'>GMT</label>
    {{#each error in errors.gmt}}
      <span class='help-block'>{{error.message}}</span>
    {{/each}}
    {{view Ember.Select content=gmts optionValuePath='content.value' optionLabelPath='content.text' value=gmt class='form-control'  name='gmt'}}
  </div>
</div>