<legend>Time zones</legend>
<div class='row'>
  <div class='col-md-6'>
    <div class='input-group'>
      <span class="input-group-addon">
        <span class='glyphicon glyphicon-search'></span>
        &nbsp; Find
      </span>
      {{view Ember.TextField valueBinding='nameFilter' class='form-control'}}
      <span class='input-group-btn'>
        <button {{action 'clearFilter'}} class='btn btn-default' type='button'>
          &nbsp;
          <span class='glyphicon glyphicon-remove'></span>
          &nbsp;
        </button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->

<table class='table offset timezones'>
  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>GMT</th>
      <th>Current time</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each zone in filterComputed itemController='timezone'}}
      <tr {{bind-attr id='htmlId'}}>
        <td>{{name}}</td>
        <td>{{city}}</td>
        <td>{{gmtFormatted}}</td>
        <td>{{currentTime}}</td>
        <td class='last'>
          {{#link-to 'timezones.edit' this class='btn btn-warning'}}Edit{{/link-to}}
          <button {{action 'removeTimezone'}} class='btn btn-danger'>Delete</button>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{#link-to 'timezones.new' class='btn btn-success'}}Add time zone{{/link-to}}