{{view App.NewTimezoneView}}

{{#each itemController="timezone"}}
  <div>
    <span>{{name}}</span>
    <span>{{city}}</span>
    <span>{{gmt}}</span>
    <button {{action 'editTimezone'}} class='btn'>Edit</button>
    <button {{action 'removeTimezone'}} class='btn'>Delete</button>
  </div>
{{/each}}