Name: </br>
{{view Ember.TextField valueBinding='name'}} </br>
City: </br>
{{view Ember.TextField valueBinding='city'}} </br>
GMT: </br>
{{view Ember.TextField valueBinding='gmt'}} </br>
<button {{action addTimezone}}>Add time zone</button>

{{#each controller}}
  <div>
    <span>{{name}}</span>
    <span>{{city}}</span>
    <span>{{gmt}}</span>
  </div>
{{/each}}